.container
  = form_for ([:patient, @appointment]) do |f|
    .row.mt-5
      .col-4.offset-4
        .card.border-0
          .col.mb-1
            = f.label :started_at, class: "form-label"
            = f.datetime_local_field :started_at, min: Date.today, max: Date.today + 1.month, class: 'form-control'
          .col
            = f.label :ended_at, class: "form-label"
            = f.datetime_local_field :ended_at, min: Date.today, max: Date.today + 1.month, class: 'form-control'
          .col
            = f.submit 'Save', class: 'btn btn-primary mt-2'
    - if params.dig(:doctor_id).present?
      = f.hidden_field(:doctor_id, value: params[:doctor_id])
