- return unless current_user

%header.p-1.mb-3.border-bottom
  .container-fluid
    .d-flex.flex-wrap.align-items-center.justify-content-between
      .d-flex.align-items-center
        - if current_user.doctor?
          = link_to 'Doctor profile', doctors_appointments_path, class: 'nav-link link-dark'

        .dropdown.text-end
          %a.d-block.link-dark.text-decoration-none.dropdown-toggle{ 'aria-expanded': 'false', 'data-bs-toggle': 'dropdown', href: '#' }
            Patient profile
          %ul.dropdown-menu.text-small
            %li= link_to 'Appointments', patients_appointments_path, class: 'dropdown-item nav-link link-dark'
            %li= link_to 'Doctors', patients_doctors_path, class: 'dropdown-item nav-link link-dark'

      .dropdown.text-end.justify-content-end
        %a.d-block.link-dark.text-decoration-none.dropdown-toggle{ 'aria-expanded': 'false', 'data-bs-toggle': 'dropdown', href: '#' }
          = render 'components/users/profile_avatar', user: current_user
        %ul.dropdown-menu.text-small
          = link_to 'Profile', edit_user_registration_path, class: 'dropdown-item'
          %li
            %hr.dropdown-divider
          = link_to 'Sign out', destroy_user_session_path, method: 'delete', class: 'dropdown-item'
